
@{
    ViewData["Title"] = "Страница загрузки данных";
}

<h2>Загрузка данных дефектоскопа</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Defectoskop" asp-action="PostData">
    @*<div class="form-group">
        <div class="col-md-10">*@
    @*<p>Загрузить один или несколько файлов данных дефектоскопов:</p>*@
    @*<br />*@
    @*</div>
        </div>*@
    @*<div class="form-group">*@
    <div class="col-md-4">
        <input type="file" class="form-control col-md-3" name="files" multiple>
    </div>
    @*</div>
        <div class="form-group">*@
    <div class="col-md-2">
        <input type="submit" class="form-control col-md-2" value="Загрузить данные">
    </div>
    @*</div>*@
</form>