
@{
    ViewData["Title"] = "Карта дефектов трубопроводов";
}

<h2>Отображение трубопроводов на карте</h2>
<div id="map"></div>

<link rel="stylesheet" href="~/css/openlayers/ol.css" />
<script src="~/js/openlayers/ol.js" asp-append-version="true"></script>
<script type="text/javascript">

    var locations = [[55.788, 49.522], [55.988, 45.522], [58.788, 49.122]];

    locations.map(function(l) {
      return l.reverse();
    });

    var polyline = new ol.geom.LineString(locations);

    polyline.transform('EPSG:4326', 'EPSG:3857');
    let tempLocations = new ol.geom.Point(locations[1]);
    let tempLocations1 = tempLocations.transform('EPSG:4326', 'EPSG:3857');

    var feature = new ol.Feature({
        type: 'route',
        geometry: polyline
    });

    var fsource = new ol.source.Vector();
    fsource.addFeature(feature);

    var geoMarker = new ol.Feature({
      type: 'geoMarker',
      geometry: tempLocations1
    });

    var styles = {
      //'route': new ol.style.Style({
      //  stroke: new ol.style.Stroke({
      //    width: 6,
      //    color: [237, 212, 0, 0.8]
      //  })
      //}),
      //'icon': new ol.style.Style({
      //  image: new ol.style.Icon({
      //    anchor: [0.5, 1],
      //    src: 'https://openlayers.org/en/v3.20.1/examples/data/icon.png'
      //  })
      //}),
      'route': new ol.style.Style({
        stroke: new ol.style.Stroke({
          width: 6,
          color: [237, 212, 0, 0.8]
        })
      }),
      'geoMarker': new ol.style.Style({
        image: new ol.style.Circle({
          radius: 7,
          snapToPixel: false,
          fill: new ol.style.Fill({
            color: 'black'
          }),
          stroke: new ol.style.Stroke({
            color: 'red',
            width: 2
          })
        })
      })
    };

    fsource.addFeature(geoMarker);

    var vectorLayer = new ol.layer.Vector({
        source: fsource,
        style: function(feature) {
        // hide geoMarker if animation is active
        //if (feature.get('type') === 'geoMarker') {
        //    //return null;
        //    return styles[feature.get('type')];
        //}
        return styles[feature.get('type')];
        }
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
            vectorLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([55.788, 49.122]),
            zoom: 10
        })
    });

    map.getView().fit(
        vectorLayer.getSource().getExtent(), map.getSize(),
        { padding: [30, 5, 5, 5] }
    );




</script>