@{
    ViewData["Title"] = "О приложении";
}
<h2>@ViewData["Title"]</h2>

<p>
    Алгоритм работы c системой:
    <br />
    1) добавить дефектоскоп в систему;
    <br />
    2) загрузить данные с дефектоскопа в csv формате;
    <br />
    3) произвести первичную оценку на основе выгрузки;
    <br />
    4) запустить инструменты автоматического обнаружения проблем;
    <br />
    5) получить, обработать, сохранить результаты работы.
</p>
