@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ростов-на-Дону<br />
    Таганрогская 98<br />
    <abbr title="Phone">Т:</abbr>
    988 123 45 56
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:letunovskij.oleg@gmail.com">letunovskij.oleg@gmail.com</a><br />
    <strong>Коммерческое использование:</strong> <a href="mailto:letunovskij.oleg@gmail.com">letunovskij.oleg@gmail.com</a>
</address>
